:root {
    --orange : #EF6C00;
    --darkorange : #bd5b0a;
    --gray : #EDEEF1;
    --discgray : #36393F;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--orange);
}

.container {
    margin-right: 12%;
    margin-left: 12%;
}

/* Header */

header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    /* margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 10px; */
    /* box-shadow: 0px 4px 1000px -2px grey;
    border-radius: 20px 20px 20px 20px; */
    position: sticky;
}

#header-center {
    justify-content: center;
}

header div {
    display: flex;
    align-items: center;
    width: 20%;
}

#header-right {
    justify-content: space-evenly;
}

header img {
    width: 75px;
    height: auto;
    padding-right: 10px;
}

#header-left img {
    margin-left: 20px;
    width: 45px;
    height: auto;
}

.orange {
    color: var(--orange);
}

header a {
    font-size: 1.2em;
    font-weight: 500;
}

a:hover {
    color: var(--darkorange);
}





/* mainbanner */

.mainbanner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/assets/background.png");
    background-size: 100%;
    color: var(--discgray);
    background-repeat: no-repeat;
}

.mainbanner div {
    justify-content: center;
}

.mainbanner h1,
.mainbanner p {
    text-align: center;
}

.button-main-banner {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.leftbutton {
    margin-right: 2%;
}

.rightbutton {
    margin-left: 2%;
}

.top-main-banner{
    padding: 10%;
}

.bottom-main-banner {
    padding: 10%;
}







/* main */

main {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray);
    border-radius: 20px 20px 20px 20px;
    color: var(--discgray);
}

main div {
    width: 40%;
}

main img {
    width: 100%;
    border-radius: 20px 20px 20px 10px;
}

main div #right {
    justify-content: space-between;
    align-items: center;
}

main #left{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 20%;
    margin-left: 100px;
}

h3 {
    background-color: white;
    padding: 20px 100px;
    border-radius: 20px 20px 20px 20px;
}

.container {
    margin-right: 12%;
    margin-left: 12%;
}

<<<<<<< HEAD
/* LOGIN PAGE */
=======
>>>>>>> f53ce689586edde768f9484c4e1b91218817d491
.login-container {
    height: 300px;
    margin-right: 12%;
    margin-left: 12%;
<<<<<<< HEAD
}
=======
}
>>>>>>> f53ce689586edde768f9484c4e1b91218817d491
